@import url("../../theme/colors.css");

.modal {
    display: grid;
    width: 100%;
    position: fixed;
    top: 15%;
    z-index: 5;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.modal-header {
    font-weight: 700;
    border-bottom: 1px solid var(--light-grayish-blue);
}

.modal-header,
.modal-body {
    padding: 1rem;
}

.modal-body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 30vh;
    gap: 1rem;
    color: var(--dark-grayish-blue);
    font-weight: 700;
}

.modal-body p {
    height: fit-content;
}

.modal .btn-checkout {
    width: 100%;
    background: var(--orange);
    padding: 1rem;
    color: var(--white);
    font-weight: 700;
    border-radius: 8px;
}