@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

header {
  position: relative;
  padding: 1rem;
  margin: 0 2rem;
  border-bottom: 1px solid var(--light-grayish-blue);
}

.content-brand {
  display: flex;
  gap: 1rem;
}

.slide-container .photos-slide {
  display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.backdrop.hidden {
  display: none;
}

.backdrop.show {
  display: block;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  padding: 1.5rem;
  background: var(--white);
  transition: all 0.5s;
  animation: .5s linear slider-nav;
  z-index: 10;
}

@keyframes slider-nav {
  from {
    left: -100px;
  }

  to {
    left: 0;
  }
}

ul {
  display: grid;
  align-content: center;
  list-style: none;
  gap: 1.5rem;
  margin-top: 4rem;
}

a {
  text-decoration: none;
}

ul li a {
  color: var(--black);
  font-weight: 700;
  position: relative;
  transition: color .5s;
}

ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -2rem;
  border-bottom: 3px solid var(--orange);
}

ul li a:hover::after {
  width: 100%;
}

ul li a:hover {
  color: var(--black);
}

button,
.icon-menu {
  border: none;
  cursor: pointer;
  outline: none;
  background: transparent;
}

.cart-avatar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-avatar figure {
  position: relative;
}

.notification {
  position: absolute;
  top: -8px;
  left: 10px;
  padding: 0 8px;
  border-radius: 10px;
  font-size: .8rem;
  font-weight: 700;
  background: var(--orange);
  color: var(--white);
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.avatar:hover {
  border: 2px solid var(--orange);
}

.image-thumb {
  width: 100%;
}

section {
  display: grid;
  gap: 1rem;
}

section .title-product {
  text-transform: uppercase;
  color: var(--orange);
}

section h1 {
  font-size: 3rem;
}

section p {
  color: var(--dark-grayish-blue);
}

header,
article.row,
section .counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article .price-discount {
  display: flex;
  align-items: center;
  gap: 1rem;
}

article .price {
  color: var(--black);
  font-weight: 700;
  font-size: 1.8rem;
}

article .discount {
  color: var(--orange);
  font-weight: 700;
  background: rgba(255, 125, 26, 0.15);
  border-radius: 7px;
  padding: .3rem .8rem;
  height: fit-content;
}

article .deleted-price {
  color: var(--grayish-blue);
  font-weight: 700;
  text-decoration: line-through;
}

section .counter {
  width: 100%;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  background: var(--light-grayish-blue);
}

section .counter span {
  font-weight: 700;
}

section .button-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--orange);
  color: var(--white);
  border-radius: 8px;
  padding: 1rem 2rem;
  font-weight: 700;
}

section .button-cart img {
  filter: brightness(10);
}

section .counter button:hover,
section .button-cart:hover {
  opacity: 0.8;
}

@media (min-width: 880px) {
  .backdrop.hidden:not(ul) {
    display: block;
  }

  .icon-menu,
  nav button {
    display: none;
  }

  .backdrop,
  nav {
    position: inherit;
    background: transparent;
    z-index: 1;
    width: 0;
    height: 0;
    padding: 0;
    margin-left: 2rem;
  }

  ul {
    display: flex;
    gap: 1.5rem;
    margin-top: 0;
  }

  ul li a {
    font-weight: 400;
    color: var(--grayish-blue)
  }

  .cart-avatar {
    gap: 2.5rem;
  }

  .avatar {
    width: 2.5rem;
    height: 2.5rem;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 3rem;
    align-items: center;
    margin: 5%;
  }

  .section-buttons {
    display: grid;
    grid-template-columns: 30% 50%;
  }

  .modal {
    width: calc(100% - 75%);
    left: calc(98% - 25%);
  }

  .slide-container img {
    height: 100%;
    border-radius: 1rem;
  }

  article.row {
    display: grid;
    gap: 1rem;
  }

  .slide-container .photos-slide {
    display: grid;
    grid-template-columns: repeat(5, 26%);
    align-items: center;
    margin-top: 2rem;
  }

  .slide-container .photos-slide img {
    width: calc(100% - 20%);
    height: calc(100% - 20%);
    border-radius: 10px;
    cursor: pointer;
    transition: opacity .5s;
  }

  .slide-container .photos-slide img:hover,
  .modal-prod .photos-slide img:hover {
    opacity: .3;
    border: 3px solid var(--orange);
  }
}