@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

header {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--light-grayish-blue);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  padding: 1.5rem;
  background: var(--white);
  transition: all 0.5s;
  animation: .5s linear slider-nav;
  z-index: 10;
}

@keyframes slider-nav {
  from {
    left: -100px;
  }

  to {
    left: 0;
  }
}

ul {
  display: grid;
  align-content: center;
  list-style: none;
  gap: 1.5rem;
  margin-top: 4rem;
}

a {
  text-decoration: none;
}

ul li a {
  color: var(--black);
  font-weight: 700;
}

button,
.icon-menu {
  border: none;
  cursor: pointer;
  outline: none;
  background: transparent;
}

.cart-avatar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-avatar figure {
  position: relative;
}

.notification {
  position: absolute;
  top: -8px;
  left: 10px;
  padding: 0 8px;
  border-radius: 10px;
  font-size: .8rem;
  font-weight: 700;
  background: var(--orange);
  color: var(--white);
}

.avatar {
  height: 2rem;
}

.section-thumb {
  position: relative;
}

.image-thumb {
  width: 100%;
}

.section-thumb :is(.arrow-left, .arrow-right) {
  background: var(--white);
}

main {
  margin: 1rem 1.5rem;
}

section {
  display: grid;
  gap: 1rem;
}

section .title-product {
  text-transform: uppercase;
  color: var(--orange);
}

section h2 {
  font-size: 2rem;
}

section p {
  color: var(--dark-grayish-blue);
}

.row-arrows {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.row-arrows img {
  padding: 1rem;
  clip-path: circle();
}

header,
article.row,
section .counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article .price-discount {
  display: flex;
  align-items: center;
  gap: 1rem;
}

article .price {
  color: var(--black);
  font-weight: 700;
  font-size: 1.8rem;
}

article .discount {
  color: var(--orange);
  font-weight: 700;
  background: rgba(255, 125, 26, 0.15);
  border-radius: 7px;
  padding: .3rem .8rem;
  height: fit-content;
}

article .deleted-price {
  color: var(--grayish-blue);
  font-weight: 700;
  text-decoration: line-through;
}

section .counter {
  width: 100%;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  background: var(--light-grayish-blue);
}

section .counter span {
  font-weight: 700;
}

section .button-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--orange);
  color: var(--white);
  border-radius: 8px;
  padding: 1rem 2rem;
  font-weight: 700;
}