.slide-container img {
    width: 100%;
    height: 22rem;
    display: flex;
    align-items: center;
    background-size: cover;
}

.react-slideshow-container .default-nav {
    position: relative;
    padding: 9px;
    background: var(--white);
    z-index: 5;
}

.react-slideshow-container .default-nav:first-child {
    left: 1rem;
}

.react-slideshow-container .default-nav:last-child {
    right: 1rem;
}